<table id="boq-editable" class="table table-bordered table-fw-widget" style="width: 100% !important;">
    <thead>
        <tr>
            <td>No</td>
            <td>Vendor</td>
            <td>Barang</td>
            <td>Harga</td>
            <td>Jumlah</td>
            <td>Total</td>
            <td>Diajukan Oleh</td>
        </tr>
    </thead>
    <tbody>
        {% for data in rowData %}
            <tr class="editable-tr">
                <td>
                    <a href="#" class="editable-revisi hidden" data-name="id_penawaran" data-pk="{{ data.id_penawaran }}" data-type="text" data-disabled="true">{{ data.id_penawaran }}</a>
                    <a href="#" class="editable-revisi hidden" data-name="id_tender" data-pk="{{ data.id_penawaran }}" data-type="text" data-disabled="true">{{ data.id_tender }}</a>
                    {{ loop.index }}
                </td>
                <td>
                    <a href="#" class="editable-revisi" data-name="nama_vendor" data-pk="{{ data.id_penawaran }}" data-type="text">{{data.nama_vendor}}</a>
                </td>
                <td>
                    <a href="#" class="editable-revisi" data-name="nama_barang" data-pk="{{ data.id_penawaran }}" data-type="text">{{data.nama_barang}}</a>
                </td>
                <td>
                    Rp. <a href="#" class="editable-revisi" data-name="harga_persatuan" data-pk="{{ data.id_penawaran }}" data-type="text">{{data.harga_persatuan}}</a>
                </td>
                <td>
                    <a href="#" class="editable-revisi" data-name="volume_barang" data-pk="{{ data.id_penawaran }}" data-type="text">{{data.volume_barang}}</a> <a href="#" class="editable-revisi" data-name="ukuran_satuan" data-pk="{{ data.id_penawaran }}" data-type="text">{{data.ukuran_satuan}}</a>
                </td>
                <td class="cell-detail">
                    Rp. <a href="#" class="editable-revisi" data-name="total" data-pk="{{ data.id_penawaran }}" data-type="text" data-disabled="true">{{data.total}}</a>
                </td>
                <td class="user-avatar cell-detail user-info">
                    <img src="public/profile/{{data.pegawai.who.image}}" alt="Avatar">
                    <span>{{data.pegawai.who.nama}}</span>
                    <span class="cell-detail-description">{{data.pegawai.time}}</span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>